<div
  class="flex flex-row justify-between items-center max-w-full bg-white dark:bg-gray-800 shadow p-3 border">
  <div class="flex flex-row items-center">
    <!-- Аватар -->
    <div
      class="min-h-10 min-w-10 flex items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200">
      {{ commit.author.charAt(0) }}
    </div>
    <!-- Информация -->
    <div class="grid grid-cols-1 items-start justify-center pl-3 max-w-full">

      <!-- Сообщение коммита -->
      <div class="truncate font-semibold"
           [matTooltip]="commit.message">
        {{ commit.message }}
      </div>

      <div class="flex flex-row">
        <!-- Имя пользователя -->
        <div class="text-gray-900 dark:text-gray-200">
          {{ commit.author }}
        </div>
        <div class="truncate pl-1 text-secondary"
             [matTooltip]="commit.date | date: 'dd.MM.yyyy HH:mm:ss'">создал(а) {{ getFormattedDate(commit.date) }}
        </div>
      </div>

    </div>
  </div>

  <div class="flex flex-row justify-end  text-gray-600 dark:text-gray-400">
    <a [routerLink]="routeToDiff()">{{ commit.revision }}</a>
  </div>
</div>
