<div class="flex flex-col flex-auto min-w-0">

  <!-- Шапка -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Хлебные крошки -->
      <div class="flex flex-wrap items-center font-medium">
        <a class="whitespace-nowrap text-primary-500">Пользовательский интерфейс</a>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon
            class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Макеты страниц</a>
        </div>
      </div>
      <!-- Название -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Введение
        </h2>
      </div>
    </div>
  </div>

  <!-- Основной контент -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="prose prose-sm max-w-3xl">

      <!-- Введение -->
      <h2>Введение</h2>
      <p>
        Макеты страниц — это набор готовых макетов, которые можно использовать в качестве основы для дизайна любой
        страницы или приложения. Хотя по умолчанию они предоставляют некоторый стиль, он очень минимален и может быть
        легко изменен из созданного вами компонента.
      </p>
      <p>
        Основные преимущества использования макетов страниц:
      </p>
      <ul>
        <li>
          <p><strong>Последовательность</strong></p>
          Все ваши приложения и страницы будут выглядеть одинаково с точки зрения макета и общего стиля, что, по сути,
          сделает их более удобными для пользователя и простыми в освоении.
        </li>
        <li>
          <p><strong>Простые модификации</strong></p>
          В будущем, если вы решите изменить дизайн своих страниц, добавить элементы или изменить существующие, это
          можно будет сделать очень легко, поскольку все ваши страницы будут иметь одинаковые имена классов и общую
          структуру кода.
        </li>
        <li>
          <p><strong>Более простая кривая обучения для ваших пользователей</strong></p>
          Если общий дизайн и макет ваших страниц будут одинаковыми, вашим пользователям будет легче их изучать. Им не
          придется снова и снова искать кнопку «Сохранить» или поле поиска, пытаясь найти и запомнить их местоположение
          на каждой странице, поскольку все страницы будут иметь одинаковую структуру.
        </li>
      </ul>

    </div>

  </div>

</div>
