<!-- Button -->
<button [matMenuTriggerFor]="userActions" mat-icon-button>
    <span class="relative">
        <img
          *ngIf="showAvatar && user.avatar"
          [src]="user.avatar | Base64ToImage"
          class="h-7 w-7 rounded-full"
        />
    </span>
  <mat-icon
    *ngIf="!showAvatar || !user.avatar"
    [svgIcon]="'heroicons_outline:user-circle'"
  ></mat-icon>
</button>

<mat-menu #userActions="matMenu" [xPosition]="'before'">
  <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Пользователь </span>
            <span class="mt-1.5 text-md font-medium">{{ user.name }}</span>
        </span>
  </button>
  <mat-divider class="my-2"></mat-divider>
  <button (click)="openProfile()" mat-menu-item>
    <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    <span>Профиль</span>
  </button>
  <mat-divider class="my-2"></mat-divider>
  <button (click)="signOut()" mat-menu-item>
    <mat-icon
      [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
    ></mat-icon>
    <span>Выйти</span>
  </button>
</mat-menu>