<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Пустой макет -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Макеты с вертикальной навигацией -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<classic-layout *ngIf="layout === 'classic'"></classic-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Макеты с горизонтальной навигацией -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<modern-layout *ngIf="layout === 'modern'"></modern-layout>
