/* ----------------------------------------------------------------------------------------------------- */
/*  @ Импортируйте/пишите здесь свои собственные стили.
/*  @ Стили из этого файла переопределяют «vendors.scss» и базовые стили шаблона.
/* ----------------------------------------------------------------------------------------------------- */
mat-form-field.small {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}

mat-form-field.small .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
